In [16]:
import pandas as pd

In [24]:
def read_json_file(file_path):
    try:
        json_obj = pd.read_json(path_or_buf=file_path, lines=True, orient=str)
    except FileNotFoundError as error:
        raise FileNotFoundError(
            f"{error}"
            f"could not read file - make sure the path is correct."
            f"current working dir: {os.getcwd()}"
        )

    return json_obj

In [33]:
def generate_results_table(file_name):
    data = read_json_file(file_name)

    final = data[data.loss.isnull() & data.train_loss.isnull()]
    
    for col in [
        "loss", "grad_norm", "learning_rate", "train_runtime", 
        "train_samples_per_second", "train_steps_per_second", "train_loss",
        "eval_samples_per_second", "eval_steps_per_second", "eval_runtime"
    ]:
        final = final.drop(col, axis=1)

    return final

In [34]:
generate_results_table("tweet_ft.jsonl")

    epoch  eval_loss  eval_accuracy
5     1.0   0.339503       0.850934
11    2.0   0.428937       0.853107
17    3.0   0.386030       0.860495
23    4.0   0.456288       0.867449
29    5.0   0.497957       0.877445
36    6.0   0.611479       0.866145
42    7.0   0.624756       0.870491
48    8.0   0.620133       0.873533
54    9.0   0.661914       0.874402
60   10.0   0.668567       0.872229

In [35]:
generate_results_table("tweet_parse.jsonl")

    epoch  eval_loss  eval_accuracy
5     1.0   0.551582       0.870926
11    2.0   0.711247       0.864407
17    3.0   0.767124       0.864841
23    4.0   1.067482       0.843981
29    5.0   0.846587       0.870926
36    6.0   1.085836       0.843112
42    7.0   0.960482       0.856150
48    8.0   1.019176       0.858757
54    9.0   1.051652       0.859192
60   10.0   1.044662       0.862234

In [36]:
generate_results_table("abstract_ft.jsonl")

    epoch  eval_loss  eval_accuracy
6     1.0   0.264348       0.943488
13    2.0   0.133516       0.979539
20    3.0   0.164576       0.975641
27    4.0   0.245834       0.964274
34    5.0   0.251858       0.970770
41    6.0   0.056300       0.991880
49    7.0   0.287687       0.970770
56    8.0   0.167419       0.981487
63    9.0   0.205184       0.977915
70   10.0   0.211215       0.977590

In [37]:
generate_results_table("abstract_parse.jsonl")

    epoch  eval_loss  eval_accuracy
6     1.0   0.189570       0.975317
13    2.0   0.256649       0.970120
20    3.0   0.037558       0.995453
27    4.0   0.028021       0.995453
34    5.0   0.243964       0.974667
41    6.0   0.112623       0.987983
49    7.0   0.063318       0.988957
56    8.0   0.158949       0.979214
63    9.0   0.079858       0.987658
70   10.0   0.102295       0.985385

In [38]:
results = read_json_file("final_results.jsonl").T
results.columns = results.loc["run"]
results = results.drop(results.index[0])
results

run,tweet-off-shelf,tweet-finetune,tweet-parse,abstract-off-shelf,abstract-fintune,abstract-parse
f1,0.359942,0.883366,0.869734,0.780331,0.978877,0.98668
recall,0.505675,0.883366,0.870059,0.786619,0.978889,0.986684
precision,0.570347,0.883367,0.87368,0.826454,0.979686,0.986994
accuracy,0.505675,0.883366,0.870059,0.786619,0.978889,0.986684